ADMIN_API_KEY=
APP_URL=
AZURE_CLIENT_ID=
AZURE_TENANT_ID=
FIREBASE_PROJECT_ID=
GEMINI_API_KEY=
GOOGLE_DRIVE_REDIRECT_URI=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_TOKEN_ENCRYPTION_KEY=